/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
/*et un peu modifier par moi Gstar*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  /* font-weight: normal; */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
p {
  font-size: 0.8rem;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video,
picture,
svg,
i {
  height: auto;
  max-width: 100%;
  display: block;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
menu[role="list"],
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a {
  text-decoration: none;
}
